{% if error %}
    <div class="light xsmall">Error</div>
{% elif loading %}
    <div class="dimmed light small">Loading...</div>
{% endif %}

{% if not loading %}
    <div class="train-stations">
        <h2 class="transit-mode-header">Trains</h2>

        {% set hasTrainNotices = trainDelays.length > 0 or trainAlerts.length > 0 %}

        {% if hasTrainNotices %}

            <div class="train-notices">

                {% if trainDelays.length > 0 %}
                    <div class="train-delays">
                        {% set trainDelayComma = joiner() %}

                        <span class="notice__delays">
                            Delays:
                        </span>

                        {%- for line in trainDelays -%}
                            <span class="train-delays__line train-delays__line-color-{{ line }}">{{ trainDelayComma() }} {{ line }}</span>
                        {%- endfor -%}
                    </div>
                {% endif %}

                {% if trainAlerts.length > 0 %}
                    {% set trainAlertComma = joiner() %}
                    <div class="train-alerts">
                        <span class="notice__alerts">
                            Alerts:
                        </span>

                        {%- for line in trainAlerts -%}
                            <span class="train-alerts__line train-alerts__line-color-{{ line }}">{{ trainAlertComma() }} {{ line }}</span>
                        {%- endfor -%}
                    </div>
                {% endif %}
            </div>

        {% endif %}

        {% for station in trains %}
            <div class="train-station">
                <h3 class="train-station__name">{{ station.locationName }}</h3>

                {% for train in station.trains %}
                    <div class="train-station__prediction">
                        <span class="train-line-color train-line-color__{{ train.line }}">{{ train.line }}</span>
                        <span class="train-destination">{{ train.destination }}</span>
                        <span class="train-minutes-away">{{ train.minutes }}</span>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <span class="update-time">Last updated: {{ trainsLastUpdated }}</span>
    </div>

    <div class="bus-stops">
        <h2 class="transit-mode-header">Buses</h2>

        {% set hasBusNotices = busDelays.length > 0 or busAlerts.length > 0 %}

        {% if hasBusNotices %}
            <div class="bus-notices">
                {% if busDelays.length > 0 %}
                    <div class="bus-delays">
                        {% set busDelayComma = joiner() %}

                        <span class="notice__delays">
                            Delays:
                        </span>

                        {%- for route in busDelays -%}
                            <span class="bus-delays__route bus-delays__route-{{ route }}">{{ busDelayComma() }} {{ route }}</span>
                        {%- endfor -%}
                    </div>
                {% endif %}

                {% if busAlerts.length > 0 %}
                    <div class="bus-alerts">
                        {% set comma = joiner() %}

                        <span class="notice__alerts">
                            Alerts:
                        </span>

                        {%- for route in busAlerts -%}
                            <span class="bus-alerts__route train_alerts__route-{{ route }}">{{ comma() }} {{ route }}</span>
                        {%- endfor -%}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% for busStop in buses %}
            {% if busStop.buses.length > 0 or showEmptyBusStops == true %}
                <div class="bus-stop">
                    <h3 class="bus-stop__name">{{ busStop.locationName }}</h3>

                    {% for prediction in busStop.buses %}
                        <div class="bus-stop__prediction">
                            <span class="bus-stop__route">{{ prediction.RouteID }}</span>
                            <span class="bus-stop__direction">{{ prediction.DirectionText }}</span>
                            <span class="bus-stop__minutes-away">{{ prediction.Minutes }}</span>
                        </div>
                    {% endfor %}

                    {% if busStop.buses.length == 0 %}
                        <div class="bus-stop__empty">
                            No buses running.
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        {% if buses.length > 0 or busAlerts.length > 0 or busDelays.length > 0 %}
            <span class="update-time">Last updated: {{ busesLastUpdated }}</span>
        {% endif %}
{% endif %}
