{% if error %}
    <div class="light xsmall">Error</div>
{% elif loading %}
    <div class="dimmed light small">Loading...</div>
{% endif %}

{% if not loading %}
    <div class="train-stations">
        <h2 class="transit-mode-header">Trains</h2>
        {% for station in trains %}
            <div class="train-station">
                <h3 class="train-station__name">{{ station.locationName }}</h3>

                {% for train in station.trains %}
                    <div class="train-station__prediction">
                        <span class="train-line-color train-line-color__{{ train.line }}">{{ train.line }}</span>
                        <span class="train-destination">{{ train.destination }}</span>
                        <span class="train-minutes-away">{{ train.minutes }}</span>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <span class="update-time">Last updated: {{ trainsLastUpdated }}</span>
    </div>

    <div class="bus-stops">
        <h2 class="transit-mode-header">Buses</h2>

        {% for busStop in buses %}
            <div class="bus-stop">
                <h3 class="bus-stop__name">{{ busStop.locationName }}</h3>

                {% for prediction in busStop.buses %}
                    <div class="bus-stop__prediction">
                        <span class="bus-stop__route">{{ prediction.RouteID }}</span>
                        <span class="bus-stop__direction">{{ prediction.DirectionText }}</span>
                        <span class="bus-stop__minutes-away">{{ prediction.Minutes }}</span>
                    </div>
                {% endfor %}

                {% if busStop.buses.length == 0 %}
                    <div class="bus-stop__empty">
                        No buses running
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <span class="update-time">Last updated: {{ busesLastUpdated }}</span>
{% endif %}
